@{
    ViewData["Title"] = "Home Page";
}

@using AnimalShelterClient.Models;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Dogs:</h3>
            <br>
            <p class="nav">@Html.ActionLink("Check available Dogs", "Index", "Dogs")</p>
        </div>
        <div class="col-md-6">
            <h3>Cats:</h3>
            <br>
            <p class="nav">@Html.ActionLink("Check available Cats", "Index", "Cats")</p>
        </div>
    </div>
</div>